# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
backend.tf
.terraform.lock.hcl

# Ansible
automation/inventory.ini
automation/group_vars/all.yml
*.retry
*.log

# Python
__pycache__/
*.pyc
venv/

# IDE
.idea/
.vscode/
.DS_Store
